@page
@model Capstonep2.Pages.Manage.Admin.DashboardModel
@using Capstonep2.Infrastructure.Domain.Models.Enums;
@{
}
<div class="col-auto">
    <br />
    <ul class="nav nav-tabs" role="tablist" id="myTab">

        <li class="nav-item">
            <button href="#profile" class="nav-link active" role="tab" data-bs-toggle="tab">PROFILE</button>
        </li>

        <li class="nav-item">
            <button href="#settings" class="nav-link" role="tab" data-bs-toggle="tab">PROFILE SETTING</button>
        </li>

        <li class="nav-item">
            <button href="#appts" class="nav-link " role="tab" data-bs-toggle="tab" id="Navappts">APPOINTMENT</button>
        </li>

        <li class="nav-item">
            <button href="#patients" class="nav-link " role="tab" data-bs-toggle="tab" id="Navpatients">PATIENTS</button>
        </li>

        <li class="nav-item">
            <button href="#user" class="nav-link " role="tab" data-bs-toggle="tab">USERS</button>
        </li>

    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="user">
            <div class="row">
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" class="form-control" placeholder="Search" id="usersearch">
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label for="">Sort By</label>
                        <select class="form-control" id="usersortBy" asp-for="View.Userss.SortBy">
                            <option value="firstname">First Name</option>
                            <option value="lastname">Last Name</option>
                            <option value="middlename">Middle Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Sort Order</label>
                        <select class="form-control" id="usersortOrder" asp-for="View.Userss.SortOrder">
                            <option value="1">Ascending</option>
                            <option value="2">Descending</option>
                        </select>
                    </div>
                </div>

            </div>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <td scope="col">Full Name</td>
                        <td scope="col"> Gender</td>
                        <td scope="col"> Date of Birth</td>
                        <td scope="col"> Address</td>
                        <td scope="col"> Email</td>



                    </tr>

                </thead>
                <tbody class="bg-mustardlite">
                    @{
                        if (Model.View.Userss != null && Model.View.Userss.Items != null && Model.View.Userss.Items.Count > 0)
                        {
                            foreach (var userr in Model?.View?.Userss?.Items)
                            {


                                <tr>

                                    <td>@userr.FirstName @userr.MiddleName @userr.LastName </td>
                                    <td>@userr.Gender</td>
                                    <td>@userr.BirthDate.Date.ToString("MM/dd/yyyy") </td>
                                    <td>@userr.Address</td>
                                    <td>@userr.Email</td>

                                </tr>
                            }
                        }
                    }

                </tbody>

            </table>
            <!--Button For Modal Trigger-->
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#nadmin">
                <i class="fa fa-pencil">ADD NEW USER</i>
            </button>
            <!--Button For Modal Trigger-->

            <div class="modal fade" id="nadmin" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-mustardlite">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">NEW ADMIN</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                        </div>

                        <div class="modal-body bg-mustardlite">
                            <div class="col-auto ">
                                <form method="Post" asp-page-handler="Newuser">
                                    <div class="form-group">
                                        <label asp-for="View.NewFirstName">FirstName</label>
                                        <input type="text" class="form-control" placeholder="Enter FirstName" asp-for="View.NewFirstName">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.NewMiddleName">MiddleName</label>
                                        <input type="text" class="form-control" placeholder="Enter FirstName" asp-for="View.NewMiddleName">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.NewLastName">LastName</label>
                                        <input type="text" class="form-control" placeholder="Enter LastName" asp-for="View.NewLastName">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.NewGender">Sex</label>
                                        <select asp-for="View.NewGender" class="form-control" id="Sex">
                                            <option value="1">Male</option>
                                            <option value="0">Female</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="View.NewBirthDate">Birthdate</label>
                                        <input type="date" class="form-control" placeholder="Enter abbreviation" asp-for="View.NewBirthDate">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.NewAddress">Address</label>
                                        <input type="text" class="form-control" placeholder="Enter Address" asp-for="View.NewAddress">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.NewEmail">EmailAddress</label>
                                        <input type="text" class="form-control" placeholder="Enter Email" asp-for="View.NewEmail">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.NewPassword">Password</label>
                                        <input type="text" class="form-control" placeholder="Enter Password" asp-for="View.NewPassword">
                                    </div>
                                    <div class="form-group alert-danger">
                                        @Html.ValidationSummary()
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Sign up</button>
                                        <a href="~/index" class="btn btn-secondary">Cancel</a>
                                    </div>



                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="profile">

            <div class="card bg-mustardlite">

                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Name:</th>
                            <td>@ViewData["firstname"] @ViewData["middlename"] @ViewData["lastname"]</td>
                        </tr>
                        <tr>
                            <th>Gender:</th>
                            <td>@ViewData["gender"]</td>
                        </tr>
                        <tr>
                            <th>Birthdate:</th>
                            <td>@ViewData["birthdate"]</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>@ViewData["email"]</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>@ViewData["address"]</td>
                        </tr>
                    </table>


                </div>

                <div class="card-footer align-content-center justify-content-center">
                    <div style="width: 500px" id="reader"></div>
                </div>

            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <a href="link-here" class="btn btn-primary">Proceed</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->



        <div role="tabpanel" class="tab-pane" id="settings">

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChangeInfo">
                Change User Info
            </button>
            <div class="collapse" id="collapseChangeInfo">
                <form method="Post" asp-page-handler="ChangeProfile">
                    <div class="form-group">
                        <label asp-for="View.FirstName">First Name</label>
                        <input type="text" class="form-control" placeholder="Enter First Name" asp-for="View.FirstName" id="FName">
                    </div>
                    <div class="form-group">
                        <label asp-for="View.MiddleName">Middle Name</label>
                        <input type="text" class="form-control" placeholder="Enter Middle Name" asp-for="View.MiddleName">
                    </div>
                    <div class="form-group">
                        <label asp-for="View.LastName">Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name" asp-for="View.LastName">
                    </div>
                    <div class="form-group">
                        <label asp-for="View.Address">Address</label>
                        <input type="text" class="form-control" placeholder="Enter Address" asp-for="View.Address">
                    </div>


                    <div class="form-group alert-danger">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChangePass">
                Change Password
            </button>

            <div class="collapse" id="collapseChangePass">
                <form method="Post" asp-page-handler="ChangePass">
                    <div class="form-group">
                        <label asp-for="View.CurrentPass">Current Password</label>
                        <input asp-for="View.CurrentPass" type="text" class="form-control" placeholder="Enter Current password">
                    </div>
                    <div class="form-group">
                        <label asp-for="View.NewPass">New Password</label>
                        <input asp-for="View.NewPass" type="text" class="form-control" placeholder="Enter New password">
                    </div>
                    <div class="form-group">
                        <label asp-for="View.RetypedPassword">Re-type New Password</label>
                        <input asp-for="View.RetypedPassword" type="text" class="form-control" placeholder="Enter new Password">
                    </div>
                    <div class="form-group alert-danger">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update password</button>
                        <a href="~/dashboard/patient" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="appts">
            <div class="row">
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" class="form-control" placeholder="Search" id="aptssearch">
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label for="">Sort By Name</label>
                        <select class="form-control" id="aptssortBy" asp-for="View.Appts.SortBy">
                            <option value="first">First Name</option>
                            <option value="midllename">Middle Name</option>
                            <option value="lastname">Last Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Filter by Status</label>
                        <select class="form-control" id="aptsfilterBy" asp-for="View.StatusFilter">
                            <option value="completed">Completed</option>
                            <option value="pending">Pending</option>
                            <option value="noshow">Noshow</option>
                            <option value="cancelled">Cancelled</option>

                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Filter by Date</label>
                        <input type="date" class="form-control" id="aptsfilterDate" placeholder="Select date">
                    </div>
                </div>
            </div>

            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>

                        <td scope="col">Full Name</td>
                        <td scope="col">Type</td>
                        <td scope="col"> DateTime</td>
                        <td scope="col">Status </td>
                        <td scope="col"> Details</td>


                    </tr>

                </thead>
                <tbody class="bg-mustardlite">
                    @{
                        foreach (var appointment in Model?.View?.Appts.Items)
                        {
                            <tr>

                                <td>@appointment?.Patient?.FirstName @appointment?.Patient?.MiddleName @appointment?.Patient?.LastName </td>
                                <td>@appointment?.Visit</td>
                                <td>@appointment?.StartTime.Value.ToString("dd/MM/yyyy")-@appointment?.StartTime.Value.ToString("H:mm tt")-@appointment?.EndTime.Value.ToString("H:mm tt")</td>
                                <td>@appointment?.Status</td>


                                <td>
                                    @if (appointment.Status == Status.Completed || appointment.Status == Status.Cancelled || appointment.Status == Status.NoShow || appointment.Status == Status.InProgress || appointment.Status == Status.Pending)
                                    {
                                        <a href="~/manage/consultation/Viewdetails?id=@appointment.ID" class="btn btn-info">
                                            <i class="fa fa-pencil">View</i>
                                        </a>

                                    }


                                </td>





                            </tr>
                        }
                    }
                </tbody>

            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @{
                        if (Model?.View?.Appts?.PageIndex > 1)
                        {
                            <li class="page-item"><a class="page-link" href="/manage/admin/dashboard?pageIndex=@(Model?.View?.Appts?.PageIndex-1)&pageSize=@(Model?.View?.Appts?.PageSize)&sortBy=@(Model?.View?.Appts?.SortBy)&sortOrder=@(Model?.View?.Appts?.SortOrder)">Previous</a></li>
                        }

                        <li class="page-item"><span class="page-link">page @Model?.View?.Appts?.PageIndex of @Model?.View?.Appts?.PageCount (@Model?.View?.Appts?.TotalRows total rows)</span></li>


                        if (Model?.View?.Appts?.PageIndex < Model?.View?.Appts?.PageCount)
                        {
                            <li class="page-item"><a class="page-link" href="/manage/admin/dashboard?pageIndex=@(Model?.View?.Appts?.PageIndex+1)&pageSize=@(Model?.View?.Appts?.PageSize)&sortBy=@(Model?.View?.Appts?.SortBy)&sortOrder=@(Model?.View?.Appts?.SortOrder)">Next</a></li>
                        }
                    }
                </ul>
            </nav>

        </div>



        <div role="tabpanel" class="tab-pane" id="patients">

            <div class="row">
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" class="form-control" placeholder="Search" id="search">
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label for="">Sort By</label>
                        <select class="form-control" id="sortBy" asp-for="View.Pasyente.SortBy">
                            <option value="firstname">First Name</option>
                            <option value="lastname">Last Name</option>
                            <option value="middlename">Middle Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="">Sort Order</label>
                        <select class="form-control" id="sortOrder" asp-for="View.Pasyente.SortOrder">
                            <option value="1">Ascending</option>
                            <option value="2">Descending</option>
                        </select>
                    </div>
                </div>

            </div>

            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <td scope="col">Full Name</td>
                        <td scope="col"> Gender</td>
                        <td scope="col"> Date of Birth</td>
                        <td scope="col"> Address</td>
                        <td scope="col"> Record</td>
                        <td scope="col"> Actions</td>

                    </tr>

                </thead>
                <tbody class="bg-mustardlite">
                    @{
                        if (Model.View.Pasyente != null && Model.View.Pasyente.Items != null && Model.View.Pasyente.Items.Count > 0)
                        {
                            foreach (var patient in Model?.View?.Pasyente?.Items)
                            {


                                <tr>
                                    <td>@patient.FirstName @patient.MiddleName @patient.LastName </td>
                                    <td>@patient.Gender</td>
                                    <td>@patient.BirthDate.Date.ToString("MM/dd/yyyy") </td>
                                    <td>@patient.Address</td>



                                    <td>


                                        <a href="~/manage/Admin/Viewpatient?id=@patient.ID" class="btn btn-primary">
                                            <i class="fa fa-pencil">View</i>
                                        </a>



                                    </td>

                                    <td>




                                        <!--Button For Modal Trigger-->
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="@string.Format("#editmodal{0}", patient.ID)">
                                            <i class="fa fa-pencil">Edit</i>
                                        </button>
                                        <!--Button For Modal Trigger-->
                                        <!--Modal-->
                                        <div class="modal " id="@string.Format("editmodal{0}",patient.ID)" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-mustardlite">
                                                        <h5 class="modal-title" id="exampleModalLabel">EDIT </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                                                    </div>

                                                    <div class="modal-body bg-mustardlite">
                                                        <div class="col-auto">

                                                            <form method="Post" asp-page-handler="Edit">
                                                                <div class="form-group">
                                                                    <label asp-for="View.FirstName">FirstName</label>
                                                                    <input type="text" class="form-control" placeholder="Enter FirstName" asp-for="View.EditFirstName" value="@patient.FirstName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label asp-for="View.MiddleName">MiddleName</label>
                                                                    <input type="text" class="form-control" placeholder="Enter FirstName" asp-for="View.EditMiddleName" value="@patient.MiddleName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label asp-for="View.LastName">LastName</label>
                                                                    <input type="text" class="form-control" placeholder="Enter LastName" asp-for="View.EditLastName" value="@patient.LastName">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label asp-for="View.Address">Address</label>
                                                                    <input type="text" class="form-control" placeholder="Enter Address" asp-for="View.EditAddress" value="@patient.Address">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input type="hidden" class="form-control" placeholder="Enter Address" asp-for="View.EditPatientId" value="@patient.ID">
                                                                </div>


                                                                <div class="form-group alert-danger">
                                                                    @Html.ValidationSummary()
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                                    <a href="~/manage/admin/dashboard" class="btn btn-secondary">Cancel</a>
                                                                </div>



                                                            </form>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!--Modal-->







                                    </td>
                                </tr>
                            }
                        }
                    }

                </tbody>

            </table>


            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @{
                        if (Model?.View?.Pasyente?.PageIndex > 1)
                        {
                            <li class="page-item"><a class="page-link" href="/manage/admin/dashboard?pageIndex=@(Model?.View?.Pasyente?.PageIndex-1)&pageSize=@(Model?.View?.Pasyente?.PageSize)&sortBy=@(Model?.View?.Pasyente?.SortBy)&sortOrder=@(Model?.View?.Pasyente?.SortOrder)">Previous</a></li>
                        }

                        <li class="page-item"><span class="page-link">page @Model?.View?.Pasyente?.PageIndex of @Model?.View?.Pasyente?.PageCount (@Model?.View?.Pasyente?.TotalRows total rows)</span></li>


                        if (Model?.View?.Pasyente?.PageIndex < Model?.View?.Pasyente?.PageCount)
                        {
                            <li class="page-item"><a class="page-link" href="/manage/admin/dashboard?pageIndex=@(Model?.View?.Pasyente?.PageIndex+1)&pageSize=@(Model?.View?.Pasyente?.PageSize)&sortBy=@(Model?.View?.Pasyente?.SortBy)&sortOrder=@(Model?.View?.Pasyente?.SortOrder)">Next</a></li>
                        }
                    }
                </ul>
            </nav>



            <!--Button For Modal Trigger-->
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#npatient">
                <i class="fa fa-pencil">ADD NEW PATIENT</i>
            </button>
            <!--Button For Modal Trigger-->

            <div class="modal fade" id="npatient" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-mustardlite">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Patient</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                        </div>

                        <div class="modal-body bg-mustardlite">
                            <div class="col-auto ">
                                <form method="Post" asp-page-handler="Patient">
                                    <div class="form-group">
                                        <label asp-for="View.AddFirstName">FirstName</label>
                                        <input type="text" class="form-control" placeholder="Enter FirstName" asp-for="View.AddFirstName">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.AddMiddleName">MiddleName</label>
                                        <input type="text" class="form-control" placeholder="Enter FirstName" asp-for="View.AddMiddleName">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.AddLastName">LastName</label>
                                        <input type="text" class="form-control" placeholder="Enter LastName" asp-for="View.AddLastName">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.AddGender">Sex</label>
                                        <select asp-for="View.Gender" class="form-control" id="Sex">
                                            <option value="1">Male</option>
                                            <option value="0">Female</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="View.AddBirthDate">Birthdate</label>
                                        <input type="date" class="form-control" placeholder="Enter abbreviation" asp-for="View.AddBirthDate">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.AddAddress">Address</label>
                                        <input type="text" class="form-control" placeholder="Enter Address" asp-for="View.AddAddress">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.AddEmail">EmailAddress</label>
                                        <input type="text" class="form-control" placeholder="Enter Email" asp-for="View.AddEmail">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="View.AddPass">Password</label>
                                        <input type="text" class="form-control" placeholder="Enter Password" asp-for="View.AddPass">
                                    </div>
                                    <div class="form-group alert-danger">
                                        @Html.ValidationSummary()
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Sign up</button>
                                        <a href="~/index" class="btn btn-secondary">Cancel</a>
                                    </div>



                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <a href="link-here" class="btn btn-primary">Proceed</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        function onScanSuccess(decodedText, decodedResult) {
            // Handle on success condition with the decoded text or result.
            const modal = new bootstrap.Modal("#exampleModal")
            console.log(`Scan result: ${decodedText}`, decodedResult);
            $("#exampleModal").find(".modal-body").text(`${decodedText}`);
            $("a[href='link-here']").attr('href', `${decodedText}`)
            modal.show();
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
    </script>



    <script type="text/javascript">

        $(document).ready(function () {
            var url = window.location.href;
            var activeTab = url.substring(url.indexOf("#") + 1);
            if (activeTab == "patients" || activeTab == "appts" || activeTab == "user") {
                $(".tab-pane").removeClass("active");
                $("#" + activeTab).addClass("active");
                $(".nav-link").removeClass("active");
                $("#Nav" + activeTab).addClass("active");
                $('a[href="' + activeTab + '"]').tab('show')

            }
        });


        $("#search").keyup(function (event) {
            if (event.keyCode === 13) {
                window.location = "/manage/admin/dashboard?keyword=" + $("#search").val() + "#patients";
            }
        });

        $("#aptssearch").keyup(function (event) {
            if (event.keyCode === 13) {
                window.location = "/manage/admin/dashboard?keyword=" + $("#aptssearch").val() + "#appts";
            }
        });
        $("#usersearch").keyup(function (event) {
            if (event.keyCode === 13) {
                window.location = "/manage/admin/dashboard?keyword=" + $("#usersearch").val() + "#user";
            }
        });
        //user

        $("#usersortBy").change(function () {
            window.location = "/manage/admin/dashboard?keyword=@(Model.View.Pasyente?.Keyword)&sortBy=" + $("#usersortBy").val() + "&sortOrder=" + $("#usersortOrder").val() + "#user";
        });
        $("#usersortOrder").change(function () {
            window.location = "/manage/admin/dashboard?keyword=@(Model.View.Pasyente?.Keyword)&sortBy=" + $("#usersortBy").val() + "&sortOrder=" + $("#usersortOrder").val() + "#user";
        });
        //
        $("#sortBy").change(function () {
            window.location = "/manage/admin/dashboard?keyword=@(Model.View.Pasyente?.Keyword)&sortBy=" + $("#sortBy").val() + "&sortOrder=" + $("#sortOrder").val() + "&status=" + $("#aptsfilterBy").val() + "&date=" + $("#aptsfilterDate").val() + "#patients";
        });
        $("#sortOrder").change(function () {
            window.location = "/manage/admin/dashboard?keyword=@(Model.View.Pasyente?.Keyword)&sortBy=" + $("#sortBy").val() + "&sortOrder=" + $("#sortOrder").val() + "&status=" + $("#aptsfilterBy").val() + "&date=" + $("#aptsfilterDate").val() + "#patients";
        });
        //apts

        $("#aptssortBy").change(function () {
            window.location = "/manage/admin/dashboard?keyword=@(Model.View.Pasyente?.Keyword)&sortBy=" + $("#aptssortBy").val() + "&sortOrder=" + $("#sortOrder").val() + "&status=" + $("#aptsfilterBy").val() + "&date=" + $("#aptsfilterDate").val() + "#appts";
        });

        $("#aptssortOrder").change(function () {
            window.location = "/manage/admin/dashboard?keyword=@(Model.View.Pasyente?.Keyword)&sortBy=" + $("#aptssortBy").val() + "&sortOrder=" + $("#aptssortOrder").val() + "&status=" + $("#aptsfilterBy").val() + "&date=" + $("#aptsfilterDate").val() + "#appts";
        });
        $("#aptsfilterBy").change(function () {
            window.location = "/manage/admin/dashboard?keyword=@(Model.View.Pasyente?.Keyword)&sortBy=" + $("#aptssortBy").val() + "&sortOrder=" + $("#aptssortOrder").val() + "&status=" + $("#aptsfilterBy").val() + "&date=" + $("#aptsfilterDate").val() + "#appts";
        });
        $("#aptsfilterDate").change(function () {
            window.location = "/manage/admin/dashboard?keyword=@(Model.View.Pasyente?.Keyword)&sortBy=" + $("#aptssortBy").val() + "&sortOrder=" + $("#aptssortOrder").val() + "&status=" + $("#aptsfilterBy").val() + "&date=" + $("#aptsfilterDate").val() + "#appts";
        });


    </script>


}